.container {
  display: flex;
  height: 90%;
  align-items: center;
  padding-top: 2rem;
}

.projectContainer {
  position: relative;
  width: 100%;
}

.projectContainer div {
  border-top: 1px solid rgba(228, 228, 228, 0.662);
  cursor: pointer;
  position: relative;
  margin-bottom: -1.5vw;
  background-color: #f7f7f7;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.projectContainer div p {
  margin: 0px;
  padding-top: 0.8rem;
  padding-bottom: 1.3rem;
  font-size: 1.5rem;
  padding-left: 2rem;
  color: rgb(44, 44, 44);
  text-transform: uppercase;
  transition: all ease-in-out 0.2s;
}
.projectContainer div p:hover {
  color: white;
  margin-left: 0.5rem;
}
