.container {
  display: flex;
  height: 90%;
  align-items: center;
  padding-top: 2rem;
}

.projectContainer {
  position: relative;
  width: 100%;
}

.projectContainer div {
  border-top: 1px solid rgba(228, 228, 228, 0.662);
  cursor: default;
  position: relative;
  margin-bottom: -2vw;
  background-color: #f7f7f7;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.projectContainer div p {
  margin: 0px;
  padding-top: 1.4rem;
  padding-bottom: 0.6rem;
  font-size: 2rem;
  padding-left: 2rem;
  color: rgb(44, 44, 44);
  text-transform: uppercase;
}
.projectContainer div p:hover {
  transition: all 0.3s;
  color: white;
}
